.env
.env.*
!.env.example
cache/
logs/
temp/
pdf/data/
wav/data/
srt/data/
mp4/data/
dist/
build/
*.egg-info/
**/__pycache__/
**/*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.basedpyright/
.vs/
.vscode/
